PORT=5000
MONGO_URI=mongodb+srv://krishna-0607:YOUR_DB_PASSWORD@study-hub.im3y4tl.mongodb.net/studyhub?retryWrites=true&w=majority&appName=study-hub
JWT_SECRET=studyhub_jwt_secret_key_2026
JWT_EXPIRE=7d
